

body{
    font-family: sans-serif;
}

a[target="_blank"]::after{
    content: url(imagens/construcao.png);
    display: inline-block;
    margin-left: 5px;
}
a[href$='.pdf']::before{
    content: url(imagens/pitada.png);
    display: inline-block;
    margin-right: 5px;   
}
.chk{
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #ddd;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
label{
    height: 15px;
    display: inline-block;
}

input[type="checkbox"]{
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    margin: 0;
}
input[type="checkbox"]:checked + label .chk{
    background: #999;
    position: relative;
}
input[type="checkbox"]:checked + label .chk::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 2px solid white;
    border-radius: 2px;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    box-sizing: border-box;
}
.box{
    margin-right: 25px;
}
.box span{
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #ccc;
    border-radius: 15px;
}
.box span::before{
    content: '';
    display: block;
    background: #eee;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    transition: all .2s ease-in-out;
}
.box input:checked + span::before{
    transform: translateX(30px);
    background: greenyellow;
}
.check{
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.custom-checkbox input{
    display: none;
}
.custom-checkbox input + label::before{    
    content: '';
    display: inline-block;
    background: white;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    transition: all .2s ease-in-out;
    vertical-align: middle;
}